In [5]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ------- ------------------------------- 51.2/250.0 kB 1.3 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 3.8 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [44]:
from glob import glob
datalist='C:/Users/blucom005/Downloads/정리폴더/01-12/9장/*.xlsx'
file=glob(datalist)[0]
print(file.split('_')[1].split('.')[0])

건강

In [36]:
import pandas as pd

pd.read_excel(file).head(2)

,No,시도,구군,평균,교원 1인당 학생수,영유아 천명당 보육시설 수,인구 십만명당 학교수,인구 천명당 사설학원수
0,1,서울특별시,종로구,0.6839,0.8505,0.6248,0.2249,0.8126
1,2,서울특별시,중구,0.5013,0.8729,0.4147,0.2294,0.2944

In [37]:
교육=pd.read_excel(file)[['시도','구군','평균']]
교육=pd.read_excel(file).iloc[:,1:4]
교육

          시도    구군      평균
0      서울특별시   종로구  0.6839
1      서울특별시    중구  0.5013
2      서울특별시   용산구  0.2679
3      서울특별시   성동구  0.2464
4      서울특별시   광진구  0.4879
..       ...   ...     ...
224     경상남도   함양군  0.5064
225     경상남도   거창군  0.8178
226     경상남도   합천군  0.1640
227  제주특별자치도   제주시  0.6468
228  제주특별자치도  서귀포시  0.6468

[229 rows x 3 columns]

In [45]:
cnt=0


file=glob(datalist)[cnt];cnt+=1
건강=pd.read_excel(file).iloc[:,1:4]

file=glob(datalist)[cnt];cnt+=1
경제=pd.read_excel(file).iloc[:,1:4]

file=glob(datalist)[cnt];cnt+=1
관계및사회참여=pd.read_excel(file).iloc[:,1:4]

file=glob(datalist)[cnt];cnt+=1
교육=pd.read_excel(file).iloc[:,1:4]

file=glob(datalist)[cnt];cnt+=1
삶의만족도=pd.read_excel(file).iloc[:,1:4]

file=glob(datalist)[cnt];cnt+=1
안전=pd.read_excel(file).iloc[:,1:4]

file=glob(datalist)[cnt];cnt+=1
여가=pd.read_excel(file).iloc[:,1:4]

file=glob(datalist)[cnt];cnt+=1
참여=pd.read_excel(file).iloc[:,1:4]

In [60]:
건강[(건강['시도']=='서울특별시')&(건강['구군']=='중구')]

건강[(건강['시도']=='서울특별시')&(건강['평균']>=0.5)]

건강[건강['시도'].str.contains('특별')][(건강['평균']>0.8)|(건강['평균']<0.3)]['시도']

C:\Users\blucom005\AppData\Local\Temp\ipykernel_7244\3536763160.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  건강[건강['시도'].str.contains('특별')][(건강['평균']>0.8)|(건강['평균']<0.3)]['시도']

0        서울특별시
12       서울특별시
74     세종특별자치시
227    제주특별자치도
228    제주특별자치도
Name: 시도, dtype: object

In [65]:
#####################################
### 건강자료에서
### 건강_서울특별시.csv
### 건강_부산광역시.csv
### 건강_경기.csv
#####################################

조건리스트=건강['시도'].unique()
for 조건 in 조건리스트:
    tmp=건강[건강['시도']==조건]
    tmp.to_csv('C:/Users/blucom005/Downloads/정리폴더/01-12/9장/시도별/건강_'+ 조건 +'.csv',index=False,encoding='utf-8')
    print(조건,'save 완료')

서울특별시 save 완료
부산광역시 save 완료
대구광역시 save 완료
인천광역시 save 완료
광주광역시 save 완료
대전광역시 save 완료
울산광역시 save 완료
세종특별자치시 save 완료
경기도 save 완료
강원도 save 완료
충청북도 save 완료
충청남도 save 완료
전라북도 save 완료
전라남도 save 완료
경상북도 save 완료
경상남도 save 완료
제주특별자치도 save 완료

In [66]:
건강.columns

Index(['시도', '구군', '평균'], dtype='object')

In [68]:
건강['시군구']=건강['시도'] + '_' + 건강['구군']
건강.head()

건강['비고'] = 건강['평균'].apply(lambda x: '상' if x > 0.5 else '하')
건강.head()

      시도   구군      평균        시군구 비고
0  서울특별시  종로구  0.9220  서울특별시_종로구  상
1  서울특별시   중구  0.6742   서울특별시_중구  상
2  서울특별시  용산구  0.5898  서울특별시_용산구  상
3  서울특별시  성동구  0.4794  서울특별시_성동구  하
4  서울특별시  광진구  0.6373  서울특별시_광진구  상

In [73]:
df=건강.iloc[:,:-2].copy()  #깊은 복사를 해야, 건강데이터가 변경되었을 때 df 데이터가 영향을 받지 않음  , df=건강
df['비고']=0

def aaa(row):
    if row>0.5:
        return '상'
    else:
        return '하'

for cnt, x in enumerate(df['평균']):
    df['비고'][cnt]=aaa(x)

df.head()

C:\Users\blucom005\AppData\Local\Temp\ipykernel_7244\941565716.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['비고'][cnt]=aaa(x)
C:\Users\blucom005\AppData\Local\Temp\ipykernel_7244\941565716.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '상' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df['비고'][cnt]=aaa(x)

      시도   구군      평균 비고
0  서울특별시  종로구  0.9220  상
1  서울특별시   중구  0.6742  상
2  서울특별시  용산구  0.5898  상
3  서울특별시  성동구  0.4794  하
4  서울특별시  광진구  0.6373  상