In [20]:
import pandas as pd
import numpy as np

data = pd.read_csv('C:/Users/blucom005/Downloads/정리폴더/01-10,11/예제/5장/covid.csv',index_col=0,encoding='cp949')

data

        사례수    증가    감소  변화없음
항목
스마트폰    999  78.9   1.7  19.4
텔레비전    965  68.5   3.9  27.6
개인용 PC  973  65.7   3.7  30.6
태블릿 PC  662  46.8   4.2  49.0
라디오     687  35.5  12.5  52.0
잡지·책    776  31.3  17.8  50.9
종이신문    552  17.6  23.2  59.2

In [19]:
maxData = data['사례수'] == data['사례수'].max()
data[maxData]

      사례수    증가   감소  변화없음
항목
스마트폰  999  78.9  1.7  19.4

In [16]:
uPoint=data['증가']==data['증가'].max()
data[uPoint]

     항목  사례수    증가   감소  변화없음
0  스마트폰  999  78.9  1.7  19.4