In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import collections
from wordcloud import WordCloud
from konlpy.tag import Okt

df=pd.read_table('./12장/ratings_train.txt')
df.head()

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [3]:
strlen = [len(str(x)) if not pd.isnull(x) else 0 for x in df['document']]
df['len'] = strlen
df.describe()

                 id          label            len
count  1.500000e+05  150000.000000  150000.000000
mean   6.743533e+06       0.498847      35.203353
std    2.919051e+06       0.500000      29.532097
min    3.300000e+01       0.000000       0.000000
25%    4.766881e+06       0.000000      16.000000
50%    7.526840e+06       0.000000      27.000000
75%    9.249435e+06       1.000000      42.000000
max    1.027815e+07       1.000000     146.000000

In [ ]:
ne=df[df['label']==0]
ne['len'].describe()

In [ ]:
po=df[df['label']==1]
po['len'].describe()

In [7]:
okt=Okt()

sen=df['document'][0]
okt.pos(sen)

[('아', 'Exclamation'),
 ('더빙', 'Noun'),
 ('..', 'Punctuation'),
 ('진짜', 'Noun'),
 ('짜증나네요', 'Adjective'),
 ('목소리', 'Noun')]